<section class="container" id="expe">
    <div class="hr1"><h1>{{miPortfolio.expe}}</h1></div>
  
<div class="row w-100 mx-auto my-5">

  <div class="col-lg-6 col-md-6 col-sm-12">
    <img class="img-fluid img-1" width="700" [src]="miPortfolio.imgExpe" alt="">
    </div>
  
    <div class="align-self-center col-lg-6 col-md-6 col-sm-12">
  
    <ul>
      <li>{{miPortfolio.exp1}}</li>
      <li>{{miPortfolio.exp2}}</li>
      <li>{{miPortfolio.exp3}}</li>
      <li>{{miPortfolio.exp4}}</li>
    </ul>
  </div>
    
  </div>
      
  </section>
